<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div ng-include="'app/search/search-bar.html'"></div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row text-center pageTitle">
		<div class="col-xs-12">
			<h3><span class="label label-info"><i class="fa fa-md fa-car"></i> Reserve a Vehicle</span></h3>
		</div>
	</div>
</div>

<div class="container-fluid main-content">
		<div class="row reservationView">

			<uib-tabset active="tabs.availVehicles" class="col-xs-12">
				<uib-tab index="1" heading="Available">
						<div class="col-xs-12 reserveAVehicle Reservation">
							<div class="row reservedVehicle noReservations" ng-if="availVehicles.length==0">
								<h5>There are currently no available vehicles to reserve.</h5>
							</div>
							<div class="row reservedVehicle noResults" ng-show="noSearchResults((availVehicles | filter: carFilter.searchContents).length)">
								<h5>There are no vehicles matching your search.</h5>
							</div>
							<div class="row reservedVehicle" ng-repeat="vehicle in availVehicles | filter: carFilter.searchContents | orderBy: '+name' ">
								<div class="col-sm-4 col-xs-12 text-center">
									<h3>{{vehicle.name}}</h3>
									<img class="vehicleImg" ng-src="{{vehicle.image}}">
								</div>
								<div class="col-sm-8 col-xs-12">
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="VehicleInfo">
												<h4>Vehicle Info</h4>
												<p><em>Information about this vehicle</em></p>
												<p>Year: {{vehicle.year}}</p>
												<p>Color: {{vehicle.color}}</p>
												<p>Access: {{vehicle.access}}</p>
												<p>Passengers: {{vehicle.passengers}}</p>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<h4>Price</h4>
											<p>{{vehicle.price | currency: $}} per day</p>
										</div>
									</div>
									<div class="text-right">
										<button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#createReservationModal" ng-click="reserveVehicle(vehicle)">Reserve Vehicle</button>
									</div>
								</div>
							</div>
						</div>

					</uib-tab>

					<uib-tab index="2" active="tabs.myReservations" heading="My Reservations">

						<div class="col-xs-12 reserveAVehicle reservation">
							<div class="row reservedVehicle noReservations" ng-if="myVehicles.length==0">
								<h5>You currently don't have any reserved vehicles</h5>
							</div>
							<div class="row reservedVehicle noResults" ng-show="noSearchResults((myVehicles | filter: carFilter.searchContents).length)">
								<h5>There are no vehicles matching your search.</h5>
							</div>
							<div class="row reservedVehicle" ng-repeat="vehicle in myVehicles | filter: carFilter.searchContents | orderBy: '+vehicle[0].name'">
								<div class="col-sm-4 col-xs-12 text-center">
									<h3>{{vehicle.vehicle[0].name}}</h3>
									<img class="vehicleImg" ng-src="{{vehicle.vehicle[0].image}}">
								</div>
								<div class="col-sm-8 col-xs-12">
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="VehicleInfo">
												<h4>Vehicle Info</h4>
												<p><em>Information about this vehicle</em></p>
												<p>Year: {{vehicle.vehicle[0].year}}</p>
												<p>Color: {{vehicle.vehicle[0].color}}</p>
												<p>Access: {{vehicle.vehicle[0].access}}</p>
												<p>Passengers: {{vehicle.vehicle[0].passengers}}</p>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="paymentInfo">
												<h4>Payment Info</h4>
												<p><span class="bold">{{vehicle.payment.cardType}}</span> {{vehicle.payment.maskedNum}}</p>
												<p><span class="bold">Price:</span> {{vehicle.vehicle[0].price | currency: $}} per day</p>
												<p><span class="bold">From:</span> {{vehicle.startDate | date:'MM/dd/yyyy'}}</p>
												<p><span class="bold">To:</span> {{vehicle.endDate | date:'MM/dd/yyyy'}}</p>
											</div>
										</div>
									</div>
									<div class="editButtons text-right">
										<button class="btn btn-sm btn-warning">Edit / Cancel</button>
									</div>
								</div>
							</div>
						</div>
						</div>

					</uib-tab>

				</uib-tabset>
			</div>
	</div>

	<div ng-include="'app/includes/createReservationModal.html'"></div>

</div>
