html {
    position: relative;
    min-height: 100%;
}
body {
	background-color: #f5f5f5;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;

	margin: 0 0 40px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #B6BDC4;
    padding: 10px;
    color: black;
    box-shadow: 0 -3px 0 #fff;
    font-weight: 500;
}

.topPageContent {
	background-color: #fff;
	padding-top: 55px;
    padding-bottom: 30px;
}

.applicationView {
	margin-top: 50px;
}

#createReservationModal .vehicleImage {
	width: 230px;
}

.dateRangePickerIcon:hover {
	cursor: hand;
	background-color: #ddd;
}

.dateRangePickerInput {
	width: 200px;
	background-color: white !important;
}

.contactInfo {
	margin-top: 30px;
}

@media only screen and (max-device-width: 480px) {
	.modal-body {
	    max-height: calc(100vh - 210px);
	    overflow-y: auto;
	}
}


@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}
/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	#adminCreateReservation span{
 		display:none;
 	}
}

.vehicleInfo, .paymentInfo, .driverInfo {
	margin-bottom: 30px;
}

.loginUserContainer {
	width: 350px;
	height: 350px;

    position: absolute;
	top: 20px;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;

}

.loginPgLogo img {
	width: 300px;
}

.loginPgLogo {
	margin-bottom: 20px;
}

.loginUserBtnContainer {
	padding: 30px;
	box-shadow: 0 3px 5px #ccc;
	background-color: white;
	height: 350px;
}

.loginUserBtnContainer p {
	font-size: 1.5em;
}

.loginUserBtnContainer .row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.main-content {
	margin-top: 20px;
	padding-bottom: 20px;
	background-color: #f5f5f5;
	border: 0;
}

.modal-body {
	padding-left: 30px;
	padding-right: 30px;
}

#searchFormSubmitBtn {
	color: white;
}

.searchGroupAddonContainer {
	background-color: #337AB7;
	cursor: hand;
}
.searchGroupAddonContainer:hover {
	background-color: #29669a;
	cursor: hand;
}

.box {
	height: 50px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-radius: 0 0 10px 10px;
}

.bold {
	font-weight: 400;
}

#reservePaymentForm {
	margin-top: 20px;
}

.modal-body .userInfo {
	margin-top: 20px;
}

.navbarLogo {
	width: 130px;
	margin-top: -10px;
}

.navbar {
	background-color: #fff;
	box-shadow: 0 1px 5px #ccc;
	z-index: 1000;
}

.navbar a {
	font-weight: bold;
}

.ng-invalid {
    color: red;
}

.noReservations, .noResults {
	text-align: center;
	margin-top: 25px;
}

.pageTitle h3{
	font-size: 2em;
	margin-bottom: 20px;
}

.searchContainer {
	padding-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0 3px 0 #ccc;
}

.btn {
	box-shadow: 0 3px 0 #ccc;
}

.reservation img, .reserveAVehicle img {
	width: 200px;
}

.reservation {
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 30px;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 3px 0 #ccc;
	background-color: #fff;
}

.reserveAVehicle {
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 30px;
	box-shadow: 0 3px 0 #ccc;
	background-color: #fff;
}

.reservationDates .input-group {
	margin-bottom: 20px;
}

.adminTabbedView {
	margin-top: -20px;
}

.reservation .reservedVehicle, .reserveAVehicle .reservedVehicle {
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 20px;
	padding-top: 20px;
}

.reservation .reservedVehicle:last-child {
	border-bottom: 0;

}

.reservation .reservedVehicle .btn {
	margin-left: 10px;
}

#toast-container > .alert {
    background-image: none !important;
}

#toast-container > .alert:before {
    position: fixed;
    font-family: FontAwesome;
    font-size: 24px;
    float: left;
    color: #FFF;
    padding-right: 0.5em;
    margin: auto 0.5em auto -1.5em;
}

#toast-container > div {
    opacity:1;
}
#toast-container > .alert-info:before {
    content: "\f05a";
}
#toast-container > .alert-info:before,
#toast-container > .alert-info {
    color: #31708f;
}

#toast-container > .alert-success:before {
    content: "\f00c";
}
#toast-container > .alert-success:before,
#toast-container > .alert-success {
    color: #3c763d;
}

#toast-container > .alert-warning:before {
    content: "\f06a";
}
#toast-container > .alert-warning:before,
#toast-container > .alert-warning {
    color: #8a6d3b;
}

#toast-container > .alert-danger:before {
    content: "\f071";
}
#toast-container > .alert-danger:before,
#toast-container > .alert-danger {
    color: #a94442;
}

.noButton {
	background-color: inherit;
	box-shadow: 0px;
	border: 0;
}

.vehicleImg {
	margin-top: 30px;
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	
	.vehicleImg {
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

.cardType {
	float: right;
    margin-top: -40px;
}

.amex {
	background-image: url(../images/amex.gif);
	background-repeat: no-repeat;
	width: 45px;
	height: 40px;
}

.visa {
	background-image: url(../images/visa.gif);
	background-repeat: no-repeat;
	width: 65px;
	height: 40px;
}

.discover {
	background-image: url(../images/discover.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	width:60px;
	height:40px;
}

.mastercard {
	background-image: url(../images/mastercard.gif);
	background-repeat: no-repeat;
	width: 65px;
	height: 40px;
}
