extends ../includes/layout

block include-navbar
	include ../includes/navbar


block main-content
	div.container
		div.row
			div.col-xs-12
				include ../includes/search-bar.html

	div.container-fluid.main-content
		div.row.reservationView

			div.col-xs-12.text-right
				button.btn.btn-primary.createResBtn + Create

			div.col-xs-12.tabbedView
				ul.nav.nav-tabs(role='tablist')
					li(role="presentation", class="active")
						a(href="#") Reservations
					li(role="presentation")
						a(href="#") Vehicle Fleet

			div.col-xs-12
				div.col-xs-12.reservation
					div.row.reservedVehicle
						div.col-sm-4.col-xs-12.text-center
							h3 Car 1
							img(src="/images/car1.png")
						div.col-sm-8.col-xs-12
							div.VehicleInfo
								h4 Vehicle Info
								p Information about this vehicle
							div.DriverInfo
								h4 Driver's Info
								p <span class="bold">Name:</span> John Doe
								p <span class="bold">Age:</span> 99
							div.paymentInfo
								h4 Payment Info
								p <span class="bold">Visa</span> **** **** **** 1234
							div.editButtons.text-right
								button.btn.btn-sm.btn-warning Edit
								button.btn.btn-sm.btn-danger Process Return
					div.row.reservedVehicle
						div.col-sm-4.col-xs-12.text-center
							h3 Car 2
							img(src="/images/car2.jpeg")
						div.col-sm-8.col-xs-12
							div.VehicleInfo
								h4 Vehicle Info
								p Information about this vehicle
							div.DriverInfo
								h4 Driver's Info
								p <span class="bold">Name:</span> John Doe
								p <span class="bold">Age:</span> 99
							div.paymentInfo
								h4 Payment Info
								p <span class="bold">Visa</span> **** **** **** 1234
							div.editButtons.text-right
								button.btn.btn-sm.btn-warning Edit
								button.btn.btn-sm.btn-danger Process Return
					div.row.reservedVehicle
						div.col-sm-4.col-xs-12.text-center
							h3 Car 3
							img(src="/images/car3.jpeg")
						div.col-sm-8.col-xs-12
							div.VehicleInfo
								h4 Vehicle Info
								p Information about this vehicle
							div.DriverInfo
								h4 Driver's Info
								p <span class="bold">Name:</span> John Doe
								p <span class="bold">Age:</span> 99
							div.paymentInfo
								h4 Payment Info
								p <span class="bold">Visa</span> **** **** **** 1234
							div.editButtons.text-right
								button.btn.btn-sm.btn-warning Edit
								button.btn.btn-sm.btn-danger Process Return
					div.row.reservedVehicle
						div.col-sm-4.col-xs-12.text-center
							h3 Car 4
							img(src="/images/car4.png")
						div.col-sm-8.col-xs-12
							div.VehicleInfo
								h4 Vehicle Info
								p Information about this vehicle
							div.DriverInfo
								h4 Driver's Info
								p <span class="bold">Name:</span> John Doe
								p <span class="bold">Age:</span> 99
							div.paymentInfo
								h4 Payment Info
								p <span class="bold">Visa</span> **** **** **** 1234
							div.editButtons.text-right
								button.btn.btn-sm.btn-warning Edit
								button.btn.btn-sm.btn-danger Process Return
					div.row.reservedVehicle
						div.col-sm-4.col-xs-12.text-center
							h3 Car 5
							img(src="/images/car5.png")
						div.col-sm-8.col-xs-12
							div.VehicleInfo
								h4 Vehicle Info
								p Information about this vehicle
							div.DriverInfo
								h4 Driver's Info
								p <span class="bold">Name:</span> John Doe
								p <span class="bold">Age:</span> 99
							div.paymentInfo
								h4 Payment Info
								p <span class="bold">Visa</span> **** **** **** 1234
							div.editButtons.text-right
								button.btn.btn-sm.btn-warning Edit
								button.btn.btn-sm.btn-danger Process Return



			

