extends ../includes/layout

block include-navbar

block main-content
	style.
		body {
			background-color: #f5f5f5;
		}

	div.container.loginUserContainer(ng-controller="loginCtrl")

		div.row
			div.col-xs-12.loginPgLogo.text-center
				img(src="images/ezRental-logo.png")

		div.row
			div.loginUserBtnContainer.breadcrumb.text-center.col-xs-12
				p Choose a user:
				div.row
					div.col-xs-12.customerLoginBtn
						form(action="/login", method="POST")
							input.btn.btn-lg.btn-default(type="submit", name="userRole", value="Customer")
				div.row
					div.col-xs-12.employeeLoginBtn
						form(action="/login", method="POST")
							input.btn.btn-lg.btn-default(type="submit", name="userRole", value="Employee")
				div.row
					div.col-xs-12.managerLoginBtn
						form(action="/login", method="POST")
							input.btn.btn-lg.btn-default(type="submit", name="userRole", value="Manager")

		