<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div ng-include="'app/includes/search-bar.html'"></div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class=" text-center pageTitle">
		<div class="col-xs-12">
			<h3><span class="label label-success"><i class="fa fa-md fa-user"></i> Admin - {{user}}</span></h3>
		</div>
	</div>
</div>

<div class="container-fluid main-content">
	<div class="row reservationView">

		<div class="col-xs-12 text-right">
			<button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#createReservationModal">+ Create</button>
		</div>

		<div class="col-xs-12 tabbedView">
			<ul class="nav nav-tabs" role='tablist'>
				<li role="presentation" class="active">
					<a href="#">Reservations</a>
				</li>
				<li role="presentation">
					<a href="#">Vehicle Fleet</a>
				</li>
			</ul>
		</div>

		<div class="col-xs-12">
			<div class="col-xs-12 reservation">
				<div class="row reservedVehicle noReservations" ng-if="vehicles.length==0">
					<h5>There are currently no reservations.</h5>
				</div>
				<div class="row reservedVehicle" ng-repeat="vehicle in vehicles | orderBy: 'make'">
					<div class="col-sm-4 col-xs-12 text-center">
						<h3>{{vehicle.make}} {{vehicle.model}}</h3>
						<img ng-src="{{vehicle.image}}">
					</div>
					<div class="col-sm-8 col-xs-12">
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<div class="VehicleInfo">
									<h4>Vehicle Info</h4>
									<p><em>Information about this vehicle</em></p>
									<p>Year: {{vehicle.year}}</p>
									<p>Color: {{vehicle.color}}</p>
									<p>Access: {{vehicle.access}}</p>
									<p>Passengers: {{vehicle.passengers}}</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6">
								<div class="DriverInfo">
									<h4>Driver's Info</h4>
									<p><span class="bold">Name:</span> John Doe</p>
									<p><span class="bold">Age:</span> 99</p>
								</div>
								<div class="paymentInfo">
									<h4>Payment Info</h4>
									<p><span class="bold">Visa</span> **** **** **** 1234</p>
								</div>
							</div>
						</div>
						<div class="editButtons text-right">
							<button class="btn btn-sm btn-warning" ng-click="getVehicles()">Edit</button>
							<button class="btn btn-sm btn-danger">Process Return</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-include="'app/includes/createReservationModal.html'"></div>

	</div>
</div>