<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div ng-include="'app/search/search-bar.html'"></div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class=" text-center pageTitle">
		<div class="col-xs-12">
			<h3><span class="label label-success"><i class="fa fa-md fa-user"></i> Admin - {{user.role}}</span></h3>
		</div>
	</div>
</div>

<div class="container-fluid main-content">
	<div class="row reservationView">

		<div class="col-xs-12 text-right">
			<button type="button" class="btn btn-primary btn-md" id="adminCreateReservation">+ <span>Create</span></button>
		</div>

			<uib-tabset active="active" class="col-xs-12" style="margin-top:-20px;">
				<uib-tab index="1" heading="Reservations">

					<div class="col-xs-12 reservation">
						<div class="row reservedVehicle noReservations" ng-if="reservedVehicles.length==0">
							<h5>There are currently no reservations.</h5>
						</div>
						<div class="row reservedVehicle noResults" ng-show="noSearchResults((reservedVehicles | filter: carFilter.searchContents).length)">
							<h5>There are no vehicles matching your search.</h5>
						</div>
						<div class="row reservedVehicle" ng-repeat="vehicle in reservedVehicles | filter: carFilter.searchContents | orderBy: '+vehicle[0].name' ">
							<div class="col-sm-4 col-xs-12 text-center">
								<h3>{{vehicle.vehicle[0].name}}</h3>
								<img class="vehicleImg" ng-src="{{vehicle.vehicle[0].image}}">
							</div>
							<div class="col-sm-8 col-xs-12">
								<div class="row">
									<div class="col-xs-12 col-sm-4">
										<div class="VehicleInfo">
											<h4>Vehicle Info</h4>
											<p><em>Information about this vehicle</em></p>
											<p>Year: {{vehicle.vehicle[0].year}}</p>
											<p>Color: {{vehicle.vehicle[0].color}}</p>
											<p>Access: {{vehicle.vehicle[0].access}}</p>
											<p>Passengers: {{vehicle.vehicle[0].passengers}}</p>
										</div>
									</div>
									<div class="col-xs-12 col-sm-4">
										<div class="DriverInfo">
											<h4>Driver's Info</h4>
											<p><span class="bold">Name:</span> {{vehicle.owner[0].firstname}} {{vehicle.owner[0].lastname}}</p>
											<p><span class="bold">Age:</span> {{vehicle.owner[0].age}}</p>
											<p><span class="bold">DL #:</span> {{vehicle.owner[0].dlnum}}</p>
											<p><span class="bold">E-mail:</span> {{vehicle.owner[0].email}}</p>
											<p><span class="bold">Phone:</span> {{vehicle.owner[0].phonenum}}</p>
										</div>
									</div>
									<div class="col-xs-12 col-sm-4">
										<div class="paymentInfo">
											<h4>Payment Info</h4>
											<p><span class="bold">{{vehicle.payment.cardType}}</span> {{vehicle.payment.maskedNum}}</p>
											<p><span class="bold">Price:</span> {{vehicle.vehicle[0].price | currency: $}} per day</p>
											<p><span class="bold">From:</span> {{vehicle.startDate | date:'MM/dd/yyyy'}}</p>
											<p><span class="bold">To:</span> {{vehicle.endDate | date:'MM/dd/yyyy'}}</p>
										</div>
									</div>
								</div>
								<div class="editButtons text-right">
									<button class="btn btn-sm btn-warning">Edit</button>
									<button class="btn btn-sm btn-danger">Process Return</button>
									<button class="btn btn-sm btn-primary" ng-if="user.role=='Manager'">Discount</button>
								</div>
							</div>
						</div>
					</div>

				</uib-tab>
				
				<uib-tab index="2" heading="Vehicle Fleet">

					<div class="col-xs-12 reservation">
						<div class="row reservedVehicle noReservations" ng-if="allVehicles.length==0">
							<h5>There are currently no reservations.</h5>
						</div>
						<div class="row reservedVehicle noResults" ng-show="noSearchResults((allVehicles | filter: carFilter.searchContents).length)">
							<h5>There are no vehicles matching your search.</h5>
						</div>
						<div class="row reservedVehicle" ng-repeat="vehicle in allVehicles | filter: carFilter.searchContents | orderBy: '+name'">
							<div class="col-sm-4 col-xs-12 text-center">
								<h3>{{vehicle.name}}</h3>
								<img class="vehicleImg" ng-src="{{vehicle.image}}">
							</div>
							<div class="col-sm-8 col-xs-12">
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="VehicleInfo">
											<h4>Vehicle Info</h4>
											<p><em>Information about this vehicle</em></p>
											<p>Year: {{vehicle.year}}</p>
											<p>Color: {{vehicle.color}}</p>
											<p>Access: {{vehicle.access}}</p>
											<p>Passengers: {{vehicle.passengers}}</p>
										</div>
									</div>
									<div class="price col-xs-12 col-sm-6">
										<h4>Price</h4>
										<p>{{vehicle.price | currency: $}} per day</p>
										<br>
										<h4>Status</h4>
										<p ng-show="vehicle.owner==null" class="text-success">Available</p>
										<p ng-hide="vehicle.owner==null" class="text-danger">Rented Out</p>
									</div>
								</div>
								<div class="editButtons text-right">
									<button class="btn btn-sm btn-warning">Edit</button>
								</div>
							</div>
						</div>
					</div>

				</uib-tab>
			</uib-tabset>

	</div>
</div>

<script>
   $('.nav-tabs a').click(function (e) {
	    e.preventDefault();
	    $(this).tab('show');
	});
</script>