<!-- Modal -->
<div id="createReservationModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="resetReservationForm()">&times;</button>
        <h4 class="modal-title">Reserve: {{vehicleToReserve.make}} {{vehicleToReserve.model}}</h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <h3>{{vehicle.name}}</h3>
          <img class="vehicleImage" ng-src="{{vehicleToReserve.image}}" alt="{{vehicleToReserve.make}} {{vehicleToReserve.model}}">
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="VehicleInfo">
              <h4>Vehicle Info</h4>
              <p><em>Information about this vehicle</em></p>
              <p>Year: {{vehicleToReserve.year}}</p>
              <p>Color: {{vehicleToReserve.color}}</p>
              <p>Access: {{vehicleToReserve.access}}</p>
              <p>Passengers: {{vehicleToReserve.passengers}}</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <h4>Price</h4>
            <p>{{vehicleToReserve.price | currency: $}} per day</p>
            <br>
            <div class="reservationDates">
              <label>Reservation dates</label>
              <p>From:</p>
              <div class="input-group" ng-class="(dateRangeErrors) ? 'has-error' : 'none'">
                <span class="input-group-addon dateRangePickerIcon"><i class="fa fa-calendar"></i></span>
                <input type="text" class="form-control dateRangePickerInput" name="daterange" readonly="true" ng-model="dateRange.fromDate">
              </div>
              <p>To:</p>
              <div class="input-group" ng-class="(dateRangeErrors) ? 'has-error' : ''">
                <span class="input-group-addon dateRangePickerIcon"><i class="fa fa-calendar"></i></span>
                <input type="text" class="form-control dateRangePickerInput" name="daterange" readonly="true" ng-model="dateRange.toDate">
              </div>
              <div class="dateError" ng-show="dateRangeErrors==true">
                <p class="text-danger">Date Range is invalid!</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <h4>Driver Details</h4>
          <p class="text-info" style="font-size: .8em;"><em>This information is pulled from your profile to make the car reservation process easier. If this information needs to be updated, please update from your account settings.</em></p>
          <div class="col-xs-12 col-sm-6 userInfo">
            <p><span class="bold">Name: </span>{{user.firstname}} {{user.lastname}}</p>
            <p><span class="bold">Age: </span>{{user.age}}</p>
            <p><span class="bold">DL #: </span>{{user.dlnum}}</p>
          </div>
          <div class="col-xs-12 col-sm-6 contactInfo">
            <label>Contact Information</label>
            <p><span class="bold">E-mail: </span>{{user.email}}</p>
            <p><span class="bold">Phone #: </span>{{user.phonenum | tel}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <h4>Payment <i class="fa fa-lock text-info"></i></h4>
          <div ng-class="paymentForm.number.$card.type" class="cardType"></div>
          <div class="paymentInfo">
            <div class="payment-error" ng-show="processError==true">
              <p class="text-danger">There was an error processing your card.</p>
            </div>
            <form class="form" name="paymentForm" stripe-form="stripeCallback" id="reservePaymentForm">
              <div class="form-group">
                <input type="text" ng-model="card.name" placeholder="Name On Card" class="form-control">
              </div>
              <div class="form-group">
                <input type="text" ng-model="card.number" placeholder="Card Number" class="form-control" payments-format="card" payments-validate="card" name="number" payments-type-model="card.type" ng-class="myForm.number.$card.type"/>
              </div>
              <div class="form-group row">
                <div class="col-xs-6 col-sm-5">
                  <input type="text" ng-model="card.expiry" placeholder="Expiration" class="form-control" payments-format="expiry" name="expiry" payments-validate="expiry">
                </div>
                <div class="col-xs-6 col-sm-3">
                  <input type="password" ng-model="card.cvc" placeholder="CVC" class="form-control" payments-format="cvc" payments-validate="cvc"/>
                </div>
              </div>
          </form>
          </div>
        </div>
        <hr>
        <div class="submitReserve row">
          <button class="btn btn-success" ng-click="reserve()">Reserve Now</button>
          <div class="formErrors" ng-show="formErrors==true" style="margin-top: 20px">
            <p class="text-danger">The form is incomplete or has errors!</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" class="close" data-dismiss="modal" ng-click="resetReservationForm()">Cancel</button>
      </div>
    </div>

  </div>
</div>

<script>
  $('input[name="daterange"]').daterangepicker({
    "parentEl": "#createReservationModal",
    opens: 'left',
    drops: 'up',
    autoApply: true,
    singleDatePicker: true
  });

  $('.dateRangePickerIcon').on('click', function() {
      $(this).parent('.input-group').find('input[name="daterange"]').focus();
  });
</script>




