<nav class="navbar navbar-default navbar-fixed-top" id="nav-main" ng-controller="navbarCtrl" ng-show="isLoggedIn()==true">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only Toggle navigation"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				<img class="navbarLogo clearfix" src="/images/ezRental-logo.png">
			</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
        		<li ng-if="isAdmin()==true" ng-class="{ active: isActive('/admin')}"><a href="/admin">Admin</a></li>
        		<li ng-class="{ active: isActive('/reserve')}"><a href="/reserve">Reserve</a></li>
        		<li><a href="#">My Account</a></li>
        		<li><a href="#" ng-click="logout()">Logout</a></li>
    		</ul>
		</div>
	</div>
</nav>

<script>
$(document).on('click','.navbar-collapse.in',function(e) {
    if( $(e.target).is('a') ) {
        $(this).collapse('hide');
    }
});
</script>
