html
	head
		base(href="/")
		title EZ-Rental
		include stylesheets

	body(ng-app='app')

		include ../includes/navbar.html

		div.container
			block search-header

		div.container-fluid.main-content
			block main-content
		
		include scripts