link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
link(rel="stylesheet", href="/vendor/toastr/toastr.css")
link(rel="stylesheet", href="/vendor/font-awesome/css/font-awesome.css")
link(rel="stylesheet", href="/css/styles.css")
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100,100italic,400italic,500,500italic,700,700italic,900,900italic', type='text/css')